$backgroundMenu: #171d1c;
$textMenu: #efe9f4;
$aboutMe: #ffba49;
$contactMe: #247ba0;
$portfolio: #b41882;

@mixin pages($color) {
  background-color: $color;
  grid-area: mainContent;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.3s ease-in-out;

  .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;

    #title {
      height: fit-content;
      width: fit-content;
      text-align: center;
      color: $backgroundMenu;

      h1 {
        font-size: 4rem;
        font-family: "Varela Round", sans-serif;
        text-decoration: underline;
        padding-left: 10px;
      }
    }
  }
}
@mixin picked($color) {
  background-color: $color;
}
@mixin pagesMobile($color) {
  background-color: $color;
  grid-column: 2;
  grid-row: 1;
  // display: grid;
  //grid-template-columns: repeat(3, 33%);
  //grid-template-rows: 10% 80% 10%;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(-110%);
  margin-bottom: 3%;
  .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
}
@mixin contactMeMobile($placement, $color) {
  color: $color;
  font-size: 10rem;
  transition: transform 0.3s ease-out;
  transform: translate($placement);
}
@mixin contacMeDesktop($placement, $color, $hoverColor) {
  @include contactMeMobile($placement, $color);
  cursor: pointer;
  &:hover {
    color: $hoverColor;
  }
}
@mixin startButton {
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 50%;
  border: none;
  border-radius: 5px;
  background-color: $textMenu;
  color: $backgroundMenu;
  font-family: "Varela Round", sans-serif;
  font-size: 150%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
@mixin starButtonDisapear {
  animation-name: buttonDisapear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@mixin menuItems {
  width: fit-content;
  border-radius: 2px;
  user-select: none;
  transform: translate(-150%);
  transition: transform 0.3s ease-out;
}
@mixin menuList($size) {
  color: $textMenu;
  font-family: "Varela Round", sans-serif;
  font-size: $size;
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*---------------For decvices smaller than 992px in widht------------------*/
@media screen and (max-width: 992px) {
  .main {
    height: 100vh;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 75vh 25vh;
    overflow: hidden;
    padding-top: 5%;
    .landingText {
      width: fit-content;
      font-family: "Varela Round", sans-serif;
      font-size: 140%;
      color: $textMenu;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%);
      transition: all 0.4s;
    }
    .hideLandingText {
      left: 150%;
    }
    .startButton {
      @include startButton();
    }
    .buttonDisapear {
      @include starButtonDisapear();
    }
    @keyframes buttonDisapear {
      100% {
        transform: translate(-50%, -100vh);
      }
    }
    .aboutMePage {
      @include pagesMobile($aboutMe);
      img {
        justify-self: flex-end;
        align-self: flex-end;
        height: 70%;
        grid-column: 2/4;
        grid-row: 2/4;
      }
    }
    .portfolioPage {
      @include pagesMobile($portfolio);
    }
    .contactMePage {
      @include pagesMobile($contactMe);
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      #linkedInContainer {
        .linkedIn {
          @include contactMeMobile(-1000%, $backgroundMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
      #githubContainer {
        .github {
          @include contactMeMobile(1000%, $textMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
    }
    .listContainer {
      grid-column: 2;
      grid-row: 2;
      #menuList {
        @include menuList(2.5rem);
        .menuItems {
          @include menuItems();
        }
        .revealMenuItem {
          transform: translate(0%);
        }
        .picked0 {
          @include picked($aboutMe);
          transform: rotate(180deg);
        }
        .picked1 {
          @include picked($portfolio);
          transform: rotate(180deg);
        }
        .picked2 {
          @include picked($contactMe);
          transform: rotate(180deg);
        }
      }
    }
    .revealPage {
      transform: translate(0%);
    }
  }
}

/*-----------------------for devices larger than 992px------------------------*/
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". mainContent mainContent"
      ". mainContent mainContent"
      "menu mainContent mainContent";

    .landingText {
      width: fit-content;
      font-family: "Varela Round", sans-serif;
      color: $textMenu;
      font-size: 300%;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%);
      transition: all 0.4s;
    }
    .hideLandingText {
      left: 150%;
    }
    .startButton {
      @include startButton();
      &:hover {
        background-color: $backgroundMenu;
        color: $textMenu;
        border: solid 2px $textMenu;
      }
    }
    .buttonDisapear {
      @include starButtonDisapear();
    }
    @keyframes buttonDisapear {
      100% {
        transform: translate(-50%, -100vh);
      }
    }
    .aboutMePage {
      @include pages($aboutMe);
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: 60px 2fr;
      img {
        justify-self: flex-end;
        align-self: flex-end;
        height: 70%;
        grid-column: 2/4;
        grid-row: 2/4;
        transform: translateY(70%);
        transition: all 1s ease-in-out;
        &:hover {
          transform: translateY(2%);
        }
      }
    }
    .portfolioPage {
      @include pages($portfolio);
    }
    .contactMePage {
      @include pages($contactMe);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      #linkedInContainer {
        .linkedIn {
          @include contacMeDesktop(-1000%, $backgroundMenu, $textMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
      #githubContainer {
        .github {
          @include contacMeDesktop(1000%, $textMenu, $backgroundMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
    }

    .listContainer {
      grid-area: menu;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      #menuList {
        @include menuList(3rem);
        .menuItems {
          @include menuItems();
          cursor: pointer;
          margin-left: 10px;
          padding: 2px;

          &:hover {
            background-color: $textMenu;
            color: $backgroundMenu;
          }
        }
        .revealMenuItem {
          transform: translate(0%);
        }
        .picked0 {
          @include picked($aboutMe);
          transform: rotate(-5deg);
        }
        .picked1 {
          @include picked($portfolio);
          transform: rotate(-5deg);
        }
        .picked2 {
          @include picked($contactMe);
          transform: rotate(-5deg);
        }
      }
    }
    .revealPage {
      transform: translateY(0%);
    }
  }
}
