* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main {
    padding: 10px;
    height: 100vh;
    background-color: #171d1c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .mainContent {
    height: 70vh;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
  }
  .main .mainContent .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .mainContent img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .main .mainContent #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: #171d1c;
    user-select: none;
  }
  .main ul {
    height: 175px;
    list-style: none;
    color: #efe9f4;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
  }
  .main ul li {
    margin-left: 10px;
    transition: background-color 0.2s;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
  }

  .hidden {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: #171d1c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .main .mainContent {
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.5s ease-out;
  }
  .main .mainContent .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .mainContent .content #aboutMeTitle {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .mainContent .content #aboutMeTitle h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .mainContent .content #aboutMeText {
    font-size: 1.5em;
    font-family: "Anonymous Pro", monospace;
    padding: 10px;
  }
  .main .mainContent img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
    transform: translateY(70%);
    transition: all 1s ease-in-out;
  }
  .main .mainContent img:hover {
    transform: translateY(2%);
  }
  .main .mainContent #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: #171d1c;
    user-select: none;
  }
  .main .listContainer {
    grid-area: menu;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .main .listContainer #menuList {
    height: 175px;
    list-style: none;
    color: #efe9f4;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
  }
  .main .listContainer #menuList li {
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
    user-select: none;
  }
  .main .listContainer #menuList li:hover {
    background-color: #efe9f4;
    color: #171d1c;
  }
  .main .hidden {
    display: none;
  }

  .gTABefore {
    grid-template-areas: ". mainContent mainContent" ". mainContent mainContent" "menu mainContent mainContent";
  }
}
.landing {
  background-color: #ffba49;
}

.aboutMePicked {
  background-color: #f7a072;
  color: #171d1c;
  transform: rotate(180deg);
}

.aboutMeBackground {
  background-color: #f7a072;
  background-size: cover;
}

.portfolioPicked {
  background-color: #b41882;
  color: #171d1c;
  transform: rotate(180deg);
}

.portfolioBackground {
  background-color: #b41882;
}

.contactMePicked {
  background-color: #247ba0;
  color: #171d1c;
  transform: rotate(180deg);
}

.contactMeBackground {
  background-color: #247ba0;
}

/*# sourceMappingURL=style.css.map */
