* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main {
    height: 100vh;
    background-color: #171d1c;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 75vh 25vh;
    overflow: hidden;
    padding-top: 20px;
  }
  .main .startButton {
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    border: none;
    border-radius: 5px;
    background-color: #efe9f4;
    color: #171d1c;
    font-family: "Varela Round", sans-serif;
    font-size: 150%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .main .buttonDisapear {
    animation-name: buttonDisapear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes buttonDisapear {
    100% {
      transform: translate(-50%, -100vh);
    }
  }
  .main .aboutMePage {
    background-color: #ffba49;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-110%);
    margin-bottom: 3%;
  }
  .main .aboutMePage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .aboutMePage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .main .portfolioPage {
    background-color: #b41882;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-110%);
    margin-bottom: 3%;
  }
  .main .portfolioPage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .contactMePage {
    background-color: #247ba0;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-110%);
    margin-bottom: 3%;
  }
  .main .contactMePage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .listContainer {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
  }
  .main .listContainer #menuList {
    color: #efe9f4;
    font-family: "Varela Round", sans-serif;
    font-size: 2.5rem;
    list-style: none;
  }
  .main .listContainer #menuList .menuItems {
    transition: background-color 0.2s;
    width: fit-content;
    border-radius: 2px;
    user-select: none;
    transform: translate(-150%);
    transition: transform 0.2s ease-out;
  }
  .main .listContainer #menuList .revealMenuItem {
    transform: translate(0%);
  }
  .main .listContainer #menuList .picked0 {
    background-color: #ffba49;
    transform: rotate(180deg);
  }
  .main .listContainer #menuList .picked1 {
    background-color: #b41882;
    transform: rotate(180deg);
  }
  .main .listContainer #menuList .picked2 {
    background-color: #247ba0;
    transform: rotate(180deg);
  }
  .main .revealPage {
    transform: translate(0%);
  }

  .hidden {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: #171d1c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". mainContent mainContent" ". mainContent mainContent" "menu mainContent mainContent";
  }
  .main .startButton {
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    border: none;
    border-radius: 5px;
    background-color: #efe9f4;
    color: #171d1c;
    font-family: "Varela Round", sans-serif;
    font-size: 150%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .main .startButton:hover {
    background-color: #171d1c;
    color: #efe9f4;
    border: solid 2px #efe9f4;
  }
  .main .buttonDisapear {
    animation-name: buttonDisapear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes buttonDisapear {
    100% {
      transform: translate(-50%, -100vh);
    }
  }
  .main .aboutMePage {
    background-color: #ffba49;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
  }
  .main .aboutMePage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .aboutMePage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .aboutMePage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .aboutMePage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
    transform: translateY(70%);
    transition: all 1s ease-in-out;
  }
  .main .aboutMePage img:hover {
    transform: translateY(2%);
  }
  .main .portfolioPage {
    background-color: #b41882;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
  }
  .main .portfolioPage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .portfolioPage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .portfolioPage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .contactMePage {
    background-color: #247ba0;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .main .contactMePage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .contactMePage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .contactMePage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .contactMePage #linkedInContainer .linkedIn {
    color: #171d1c;
    font-size: 10rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: translate(-1000%);
  }
  .main .contactMePage #linkedInContainer .linkedIn:hover {
    color: #efe9f4;
  }
  .main .contactMePage #linkedInContainer .revealIcon {
    transform: translate(0%);
  }
  .main .contactMePage #githubContainer .github {
    color: #efe9f4;
    font-size: 10rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: translate(1000%);
  }
  .main .contactMePage #githubContainer .github:hover {
    color: #171d1c;
  }
  .main .contactMePage #githubContainer .revealIcon {
    transform: translate(0%);
  }
  .main .listContainer {
    grid-area: menu;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .main .listContainer #menuList {
    list-style: none;
    color: #efe9f4;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
  }
  .main .listContainer #menuList .menuItems {
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.2s;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
    user-select: none;
    transform: translate(-150%);
    transition: transform 0.3s ease-out;
  }
  .main .listContainer #menuList .menuItems:hover {
    background-color: #efe9f4;
    color: #171d1c;
  }
  .main .listContainer #menuList .revealMenuItem {
    transform: translate(0%);
  }
  .main .listContainer #menuList .picked0 {
    background-color: #ffba49;
    transform: rotate(-5deg);
  }
  .main .listContainer #menuList .picked1 {
    background-color: #b41882;
    transform: rotate(-5deg);
  }
  .main .listContainer #menuList .picked2 {
    background-color: #247ba0;
    transform: rotate(-5deg);
  }
  .main .revealPage {
    transform: translateY(0%);
  }
  .main .hidden {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
