* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main {
    height: 100vh;
    background-color: #171d1c;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 75vh 25vh;
    overflow: hidden;
    padding-top: 20px;
  }
  .main .aboutMePage {
    background-color: #f7a072;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
  }
  .main .aboutMePage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .aboutMePage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .main .aboutMePage .myName {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
  }
  .main .aboutMePage .myName p {
    font-size: 1.3rem;
    font-family: "Varela Round", sans-serif;
  }
  .main .portfolioPage {
    background-color: #b41882;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
  }
  .main .portfolioPage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .portfolioPage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .main .portfolioPage .myName {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
  }
  .main .portfolioPage .myName p {
    font-size: 1.3rem;
    font-family: "Varela Round", sans-serif;
  }
  .main .contactMePage {
    background-color: #247ba0;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 80% 10%;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
  }
  .main .contactMePage .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  .main .contactMePage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .main .contactMePage .myName {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
  }
  .main .contactMePage .myName p {
    font-size: 1.3rem;
    font-family: "Varela Round", sans-serif;
  }
  .main .listContainer {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    color: #efe9f4;
  }
  .main .listContainer ul {
    list-style: none;
  }
  .main .listContainer ul li {
    font-family: "Varela Round", sans-serif;
    font-size: 2.5rem;
    transition: background-color 0.2s;
    width: fit-content;
    border-radius: 2px;
  }

  .hidden {
    display: none;
  }

  .picked0 {
    background-color: #f7a072;
    transform: translate(10deg);
  }
}
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: #171d1c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". mainContent mainContent" ". mainContent mainContent" "menu mainContent mainContent";
  }
  .main .aboutMePage {
    background-color: #f7a072;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
  }
  .main .aboutMePage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .aboutMePage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .aboutMePage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .aboutMePage .content #text {
    font-size: 1.5em;
    font-family: "Anonymous Pro", monospace;
    padding: 10px;
  }
  .main .aboutMePage #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: #171d1c;
    user-select: none;
  }
  .main .aboutMePage img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
    transform: translateY(70%);
    transition: all 1s ease-in-out;
  }
  .main .aboutMePage img:hover {
    transform: translateY(2%);
  }
  .main .portfolioPage {
    background-color: #b41882;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
  }
  .main .portfolioPage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .portfolioPage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .portfolioPage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .portfolioPage .content #text {
    font-size: 1.5em;
    font-family: "Anonymous Pro", monospace;
    padding: 10px;
  }
  .main .portfolioPage #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: #171d1c;
    user-select: none;
  }
  .main .contactMePage {
    background-color: #247ba0;
    grid-area: mainContent;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 60px 2fr;
    border-radius: 2px;
    overflow: hidden;
    transform: translateY(-110%);
    transition: all 0.3s ease-in-out;
  }
  .main .contactMePage .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .main .contactMePage .content #title {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: #171d1c;
  }
  .main .contactMePage .content #title h1 {
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: underline;
    padding-left: 10px;
  }
  .main .contactMePage .content #text {
    font-size: 1.5em;
    font-family: "Anonymous Pro", monospace;
    padding: 10px;
  }
  .main .contactMePage #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: #171d1c;
    user-select: none;
  }
  .main .listContainer {
    grid-area: menu;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .main .listContainer #menuList {
    height: 175px;
    list-style: none;
    color: #efe9f4;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
  }
  .main .listContainer #menuList li {
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.2s;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
    user-select: none;
  }
  .main .listContainer #menuList li:hover {
    background-color: #efe9f4;
    color: #171d1c;
  }
  .main .hidden {
    display: none;
  }
  .main .revealPage {
    transform: translateY(0%);
  }

  .picked0 {
    background-color: #f7a072;
    transform: rotate(-10deg);
  }

  .picked1 {
    background-color: #b41882;
    transform: rotate(-10deg);
  }

  .picked2 {
    background-color: #247ba0;
    transform: rotate(-10deg);
  }
}

/*# sourceMappingURL=style.css.map */
