$backgroundMenu: #171d1c;
$textMenu: #efe9f4;
$aboutMe: #f7a072;
$contactMe: #247ba0;
$portfolio: #b41882;
$landing: #ffba49;

@mixin pages($color) {
  background-color: $color;
  grid-area: mainContent;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 60px 2fr;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.3s ease-in-out;

  .content {
    margin: 10px;
    grid-column: 1/4;
    grid-row: 1/3;

    #title {
      height: fit-content;
      width: fit-content;
      text-align: center;
      color: $backgroundMenu;

      h1 {
        font-size: 4rem;
        font-family: "Varela Round", sans-serif;
        text-decoration: underline;
        padding-left: 10px;
      }
    }

    #text {
      font-size: 1.5em;
      font-family: "Anonymous Pro", monospace;
      padding: 10px;
    }
  }

  #myName {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    color: $backgroundMenu;
    user-select: none;
  }
}
@mixin picked($color) {
  background-color: $color;
}
@mixin pagesMobile($color) {
  background-color: $color;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 10% 80% 10%;
  border-radius: 2px;
  overflow: hidden;
  transition: background-color 0.5s ease-out;
  .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
  img {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .myName {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    p {
      font-size: 1.3rem;
      font-family: "Varela Round", sans-serif;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .main {
    height: 100vh;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 75vh 25vh;
    overflow: hidden;
    padding-top: 20px;
    .aboutMePage {
      @include pagesMobile($aboutMe);
    }
    .portfolioPage {
      @include pagesMobile($portfolio);
    }
    .contactMePage {
      @include pagesMobile($contactMe);
    }
    .listContainer {
      grid-column: 2;
      grid-row: 2;
      width: 100%;
      color: $textMenu;

      ul {
        list-style: none;
        li {
          font-family: "Varela Round", sans-serif;
          font-size: 2.5rem;
          transition: background-color 0.2s;
          width: fit-content;
          border-radius: 2px;
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .picked0 {
    @include picked($aboutMe);
    transform: translate(10deg);
  }
}
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". mainContent mainContent"
      ". mainContent mainContent"
      "menu mainContent mainContent";

    .aboutMePage {
      @include pages($aboutMe);

      img {
        justify-self: flex-end;
        align-self: flex-end;
        height: 70%;
        grid-column: 2/4;
        grid-row: 2/4;
        transform: translateY(70%);
        transition: all 1s ease-in-out;
        &:hover {
          transform: translateY(2%);
        }
      }
    }
    .portfolioPage {
      @include pages($portfolio);
    }
    .contactMePage {
      @include pages($contactMe);
    }

    .listContainer {
      grid-area: menu;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      #menuList {
        height: 175px;
        list-style: none;
        color: $textMenu;
        font-family: "Varela Round", sans-serif;
        font-size: 3rem;
        li {
          cursor: pointer;
          margin-left: 10px;
          transition: all 0.2s;
          padding: 2px;
          width: fit-content;
          border-radius: 2px;
          user-select: none;
          &:hover {
            background-color: $textMenu;
            color: $backgroundMenu;
          }
        }
      }
    }
    .hidden {
      display: none;
    }
    .revealPage {
      transform: translateY(0%);
    }
  }
  .picked0 {
    @include picked($aboutMe);
    transform: rotate(-10deg);
  }
  .picked1 {
    @include picked($portfolio);
    transform: rotate(-10deg);
  }
  .picked2 {
    @include picked($contactMe);
    transform: rotate(-10deg);
  }
}
