$backgroundMenu: #171d1c;
$textMenu: #efe9f4;
$aboutMe: #ffba49;
$contactMe: #ff8b8b;
$portfolio: #bff0a3;
$bobblePupperBGC: #fb4d3d;
$quizBGC: #212121;

@mixin pages($color) {
  background-color: $color;
  grid-area: mainContent;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.3s ease-in-out;
}
@mixin picked($color) {
  background-color: $color;
  color: $backgroundMenu;
}
@mixin pagesMobile($color) {
  background-color: $color;
  grid-column: 2;
  grid-row: 1;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(-110%);
  margin-bottom: 3%;
  .content {
    grid-column: 1/4;
    grid-row: 2;
    font-family: "Anonymous Pro", monospace;
  }
}
@mixin contactMeMobile($placement, $color) {
  color: $color;
  font-size: 10rem;
  transition: all 0.3s ease-out;
  transform: translate($placement);
}
@mixin contacMeDesktop($placement, $color, $hoverColor) {
  @include contactMeMobile($placement, $color);
  cursor: pointer;
  &:hover {
    color: $hoverColor;
    text-shadow: 2px 2px 4px $backgroundMenu;
    transform: scale(1.4);
  }
}
@mixin startButton {
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 50%;
  border: none;
  border-radius: 5px;
  background-color: $textMenu;
  color: $backgroundMenu;
  font-family: "Varela Round", sans-serif;
  font-size: 150%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
@mixin starButtonDisapear {
  animation-name: buttonDisapear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@mixin menuItems {
  width: fit-content;
  border-radius: 2px;
  user-select: none;
  transform: translate(-150%);
  transition: transform 0.3s ease-out;
}
@mixin menuList($size) {
  color: $textMenu;
  font-family: "Varela Round", sans-serif;
  font-size: $size;
  list-style: none;
}
@mixin portfolioLogosContainer($color) {
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 80%;
  background-color: $color;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  a:link {
    text-decoration: none;
  }
}
@mixin bobblePupperLogo($size, $shadow) {
  font-size: $size;
  font-family: "Fredoka One", cursive;
  color: #eac435;
  user-select: none;
  text-shadow: $shadow $shadow #0e0e11;
  transition: all 0.3s ease-in-out;
}
@mixin quizLogo($size) {
  font-family: "PT Mono", monospace;
  font-size: $size;
  color: #7bddf1;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
@mixin hi {
  width: fit-content;
  font-family: "Varela Round", sans-serif;
  color: $aboutMe;
  font-size: 1000%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  user-select: none;
}
@mixin aboutMeButtons {
  color: $textMenu;
  background-color: $backgroundMenu;
  border: 3px solid $backgroundMenu;
  border-radius: 4px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 3rem;
  width: 6rem;
  transition: all 0.2s ease-in-out;
  margin: 2px;
  cursor: pointer;
  &:hover {
    background-color: $aboutMe;
    color: $backgroundMenu;
  }
}
@mixin aboutMeButtonsMobile {
  color: $textMenu;
  background-color: $backgroundMenu;
  border: 2px solid $backgroundMenu;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 2.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  margin: 3px;
  cursor: pointer;
  &:hover {
    background-color: $aboutMe;
    color: $backgroundMenu;
  }
}
@mixin skills($column, $row) {
  grid-column: $column;
  grid-row: $row;
  justify-self: center;
  text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
  border-radius: 3px;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@mixin acquierTitle($column, $row) {
  grid-column: $column;
  grid-row: $row;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*---------------For decvices smaller than 992px in widht------------------*/
@media screen and (max-width: 992px) {
  .main {
    height: 100vh;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 75vh 25vh;
    overflow: hidden;
    padding-top: 5%;

    /*------------------Landing Page start----------------------------------*/
    .landingText {
      width: fit-content;
      font-family: "Varela Round", sans-serif;
      font-size: 100%;
      color: $textMenu;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%);
      transition: all 0.4s;
      span {
        color: $aboutMe;
      }
    }
    .hideLandingText {
      left: 150%;
    }
    .hi {
      @include hi();
    }
    .hideHi {
      color: transparent;
    }
    .startButton {
      @include startButton();
    }
    .buttonDisapear {
      @include starButtonDisapear();
    }
    @keyframes buttonDisapear {
      100% {
        transform: translate(-50%, -100vh);
      }
    }
    /*------------------------------------landing Page end-------------------------------------*/
    /*-----------------------------------About Me Page start-----------------------------------*/
    .aboutMePage {
      @include pagesMobile($aboutMe);
      display: grid;
      display: flex;
      flex-direction: column;
      font-family: "Varela Round", sans-serif;
      padding: 2%;
      color: $backgroundMenu;
      overflow: scroll;
      .title {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 2rem;
        }
        .subtitle {
          text-align: center;
          font-family: "Inconsolata", monospace;
          font-size: 1.3rem;
        }
      }
      .buttons {
        display: none;
      }

      .titleAcquiered {
        font-size: 1.2rem;
      }
      .titleNotAcquiered {
        font-size: 1.2rem;
      }
      .acquieredSkills {
        text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
        border-radius: 3px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .skillsToAcquier {
        text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
        border-radius: 3px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .etc {
          text-decoration: none;
          color: $textMenu;
          border-radius: 3px;
          font-size: 2.5em;
          transition: all 0.2s ease-in-out;
          margin-bottom: 1rem;
        }
      }
      .skillIcons {
        font-size: 4rem;
        color: $textMenu;
      }

      .educationTitle {
        font-family: "Inconsolata", monospace;
        font-size: 1rem;
        align-self: center;
        user-select: none;
      }
      .nackademin {
        justify-self: flex-end;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: flex-end;

        .logo {
          height: 1.5rem;
        }
      }
      .educationList {
        margin-left: 10%;

        font-size: 1rem;
        user-select: none;
        transition: all 0.5s ease-in-out;
        li {
          margin: 2%;
        }
      }
      .textContainer {
        width: 100%;
        align-self: center;

        display: flex;
        flex-direction: column;
        align-content: space-between;
        .hiAboutMe {
          font-size: 3rem;
          color: $aboutMe;
          margin-bottom: 10px;
          height: fit-content;
          width: fit-content;
          background-color: $backgroundMenu;
          border-radius: 2px;
          transition: all 0.5s ease-in-out;
        }
        .aboutMeText {
          font-size: 1.2rem;
          transition: all 0.5s ease-in-out;
        }
      }
      .puppiePicture {
        justify-self: flex-end;
        align-self: flex-end;
        height: 70%;
        grid-column: 2/4;
        grid-row: 2/4;
        transform: translateY(10%);
        transition: all 0.5s ease-in-out;
      }
    }
    /*----------------------------------About Me Page end----------------------------------------*/
    /*----------------------------------Portfolio Page start-------------------------------------*/
    .portfolioPage {
      @include pagesMobile($portfolio);
      display: grid;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 5% 45% 45% 5%;
      #bobblePupper {
        grid-column: 2;
        grid-row: 2;

        @include portfolioLogosContainer($bobblePupperBGC);

        h3 {
          @include bobblePupperLogo(9vw, 1vw);
        }
      }
      .hideBobblePupper {
        transform: translateY(-300%);
      }
      #quiz {
        grid-column: 2;
        grid-row: 3;
        @include portfolioLogosContainer($quizBGC);

        h3 {
          @include quizLogo(9vw);

          #quizWord {
            color: #ffbe45;
          }
          #parentheses {
            color: #f0715c;
          }
        }
      }
      .hideQuiz {
        transform: translateY(300%);
      }
    }
    /*-----------------------------------Portfolio Page end----------------------------------------*/
    /*-----------------------------------Contact Me Page start--------------------------------------*/
    .contactMePage {
      @include pagesMobile($contactMe);
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      #linkedInContainer {
        .linkedIn {
          @include contactMeMobile(-1000%, $backgroundMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
      #githubContainer {
        .github {
          @include contactMeMobile(1000%, $backgroundMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
    }
    /*---------------------------------Contact Me end---------------------------------------------------*/
    /*-----------------------------Navigation Menu start------------------------------------------------*/
    .listContainer {
      grid-column: 2;
      grid-row: 2;
      #menuList {
        @include menuList(2.5rem);
        .menuItems {
          @include menuItems();
        }
        .revealMenuItem {
          transform: translate(0%);
        }
        .picked0 {
          @include picked($aboutMe);
          transform: rotate(180deg);
        }
        .picked1 {
          @include picked($portfolio);
          transform: rotate(180deg);
        }
        .picked2 {
          @include picked($contactMe);
          transform: rotate(180deg);
        }
      }
    }
    /*---------------------------Navigation Menu end--------------------------------------------------------*/
    .revealPage {
      transform: translate(0%);
    }
  }
}

/*-----------------------for devices larger than 992px------------------------*/
@media screen and (min-width: 992px) {
  .main {
    padding: 1.5%;
    height: 100vh;
    width: 100%;
    background-color: $backgroundMenu;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". mainContent mainContent"
      ". mainContent mainContent"
      "menu mainContent mainContent";

    .landingText {
      width: fit-content;
      font-family: "Varela Round", sans-serif;
      color: $textMenu;
      font-size: 350%;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%);
      transition: all 0.4s;
      user-select: none;
      span {
        color: $aboutMe;
      }
    }
    .hideLandingText {
      left: 150%;
    }
    .hi {
      @include hi();
    }
    .hideHi {
      color: transparent;
    }
    .startButton {
      @include startButton();
      &:hover {
        background-color: $backgroundMenu;
        color: $textMenu;
        border: solid 2px $textMenu;
      }
    }
    .buttonDisapear {
      @include starButtonDisapear();
    }
    @keyframes buttonDisapear {
      100% {
        transform: translate(-50%, -100vh);
      }
    }
    .aboutMePage {
      @include pages($aboutMe);
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: 1fr 70% 1fr;
      font-family: "Varela Round", sans-serif;
      padding: 2%;
      color: $backgroundMenu;
      .title {
        grid-column: 1/3;
        grid-row: 1;
        width: fit-content;
        h1 {
          font-size: 4rem;
        }
        .subtitle {
          text-align: center;
          font-family: "Inconsolata", monospace;
        }
      }
      .buttons {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .skillButton {
          @include aboutMeButtons();
        }
        .educationButton {
          @include aboutMeButtons();
        }
        .gustafButton {
          @include aboutMeButtons();
        }
      }
      #card {
        margin: 2%;
        padding: 1%;
        border-radius: 3px;
        grid-column: 1/4;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        .titleAcquiered {
          @include acquierTitle(1, 1);
          &.hidden {
            transform: translate(-300%);
          }
        }
        .titleNotAcquiered {
          @include acquierTitle(2, 1);
          &.hidden {
            transform: translate(300%);
          }
        }
        .acquieredSkills {
          @include skills(1, 2);
          &.hidden {
            transform: translateY(600%);
          }
        }
        .skillsToAcquier {
          @include skills(2, 2);
          &.hidden {
            transform: translateY(600%);
          }
          .etc {
            text-decoration: none;
            color: $textMenu;
            border-radius: 3px;
            font-size: 3.5vw;
            transition: all 0.2s ease-in-out;
            margin-bottom: 1rem;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .skillIcons {
          font-size: 6.5vw;
          color: $textMenu;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .educationTitle {
        font-family: "Inconsolata", monospace;
        grid-column: 1/3;
        grid-row: 1;
        font-size: 2.5rem;
        align-self: center;
        user-select: none;
        transition: all 0.5s ease-in-out;
        &.hidden {
          transform: translate(-200%);
        }
      }
      .nackademin {
        grid-column: 2/3;
        grid-row: 1;
        justify-self: flex-end;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: flex-end;
        transition: all 0.5s ease-in-out;
        .logo {
          height: 1.5rem;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.hidden {
          transform: translate(200%);
        }
      }
      .educationList {
        margin-left: 10%;
        grid-column: 1/3;
        grid-row: 2;
        font-size: 1.5rem;
        user-select: none;
        transition: all 0.5s ease-in-out;
        li {
          margin: 2%;
        }
        &.hidden {
          transform: translateY(200%);
        }
      }
      .textContainer {
        width: 120%;
        align-self: center;
        grid-column: 1;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        .hiAboutMe {
          font-size: 3rem;
          color: $aboutMe;
          margin-bottom: 10px;
          height: fit-content;
          width: fit-content;
          background-color: $backgroundMenu;
          border-radius: 2px;
          transition: all 0.5s ease-in-out;
          &.hidden {
            transform: translateX(90vw);
          }
        }
        .aboutMeText {
          font-size: 1.2rem;
          transition: all 0.5s ease-in-out;
          &.hidden {
            transform: translateX(-200%);
          }
        }
      }
      .puppiePicture {
        justify-self: flex-end;
        align-self: flex-end;
        height: 70%;
        grid-column: 2/4;
        grid-row: 2/4;
        transform: translateY(10%);
        transition: all 0.5s ease-in-out;
        &.hidden {
          transform: translateY(200%);
        }
      }
    }
    .portfolioPage {
      @include pages($portfolio);
      display: grid;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 5% 45% 45% 5%;
      #bobblePupper {
        grid-column: 2;
        grid-row: 2;
        @include portfolioLogosContainer($bobblePupperBGC);
        box-shadow: 3px 3px 3px $backgroundMenu;
        .bobblePupperLogo {
          @include bobblePupperLogo(6vw, 0.3vw);
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .hideBobblePupper {
        transform: translateY(-300%);
      }
      #quiz {
        grid-column: 2;
        grid-row: 3;
        @include portfolioLogosContainer($quizBGC);

        .quizLogo {
          @include quizLogo(6vw);

          #quizWord {
            color: #ffbe45;
          }
          #parentheses {
            color: #f0715c;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .hideQuiz {
        transform: translateY(300%);
      }
    }
    .contactMePage {
      @include pages($contactMe);
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      #linkedInContainer {
        .linkedIn {
          @include contacMeDesktop(-1000%, $backgroundMenu, $textMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
      #githubContainer {
        .github {
          @include contacMeDesktop(1000%, $backgroundMenu, $textMenu);
        }
        .revealIcon {
          transform: translate(0%);
        }
      }
    }

    .listContainer {
      grid-area: menu;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      #menuList {
        @include menuList(3rem);
        .menuItems {
          @include menuItems();
          cursor: pointer;
          margin-left: 10px;
          padding: 2px;

          &:hover {
            background-color: $textMenu;
            color: $backgroundMenu;
          }
        }
        .revealMenuItem {
          transform: translate(0%);
        }
        .picked0 {
          @include picked($aboutMe);
          transform: rotate(-5deg);
        }
        .picked1 {
          @include picked($portfolio);
          transform: rotate(-5deg);
        }
        .picked2 {
          @include picked($contactMe);
          transform: rotate(-5deg);
        }
      }
    }
    .revealPage {
      transform: translateY(0%);
    }
  }
}
