/*This partial styles the mobile version of the About Me page*/

.aboutMePage {
  @include pagesMobile($aboutMe);
  display: flex;
  flex-direction: column;
  font-family: "Varela Round", sans-serif;
  padding: 2%;
  color: $backgroundMenu;
  overflow: scroll;
  .title {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
    .subtitle {
      text-align: center;
      font-family: "Inconsolata", monospace;
      font-size: 1.3rem;
      margin: 10% 0 10% 0;
    }
  }
  .buttons {
    display: none;
  }

  .titleAcquiered {
    display: none;
  }
  .titleNotAcquiered {
    display: none;
  }
  /*title that diplays my knowlegde*/
  .acquieredSkills {
    text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /*title that displays my future knowledge*/
  .skillsToAcquier {
    text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /*the "etc-icon" is not an icon from font awesome so it's styled separate from the others*/
    .etc {
      text-decoration: none;
      color: $textMenu;
      border-radius: 3px;
      font-size: 2.5em;
      transition: all 0.2s ease-in-out;
      margin-bottom: 1rem;
    }
  }
  /*the icons from font awesome*/
  .skillIcons {
    font-size: 3rem;
    color: $textMenu;
  }
  /*The title that says the name of the education*/
  .educationTitle {
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    align-self: center;
    user-select: none;
    margin-bottom: 5%;
  }
  /*The nackademi logo*/
  .nackademin {
    margin: 8% 0 5% 0;
    display: flex;
    justify-content: center;

    .logo {
      height: 1.5rem;
    }
  }
  /*The brief explanation of the education*/
  .educationList {
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 1rem;
    user-select: none;
    li {
      margin: 2%;
    }
  }
  /*The container for the text about me*/
  .textContainer {
    /*the hi over the text*/
    .hiAboutMe {
      font-size: 3rem;
      color: $aboutMe;
      margin-bottom: 10px;
      height: fit-content;
      width: fit-content;
      background-color: $backgroundMenu;
      border-radius: 2px;
    }
    .aboutMeText {
      font-size: 1.2rem;
    }
  }
  .puppiePicture {
    display: none;
  }
}
