/*This partial styles the desktop version of the About Me page*/
/*All the classes that is called "hidden" are used to hide the class/element it is emeded in*/

/*The buttons*/
@mixin aboutMeButtons {
  color: $textMenu;
  background-color: $backgroundMenu;
  border: 3px solid $backgroundMenu;
  border-radius: 4px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 3rem;
  width: 6rem;
  transition: all 0.3s ease-in-out;
  margin: 2px;
  cursor: pointer;
  &:hover {
    background-color: $aboutMe;
    color: $backgroundMenu;
  }
  &.picked {
    transform: translateY(-20%);
    background-color: $aboutMe;
    color: $backgroundMenu;
  }
}
/*Title inside about me*/
@mixin acquierTitle($column, $row) {
  grid-column: $column;
  grid-row: $row;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  transition: all 0.3s ease-in-out;
}
@mixin skills($column, $row) {
  grid-column: $column;
  grid-row: $row;
  justify-self: center;
  text-shadow: 0.2em 0.2em 0.2em $backgroundMenu;
  border-radius: 3px;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
/*the about me page*/
.aboutMePage {
  @include pages($aboutMe);
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 1fr 70% 1fr;
  font-family: "Varela Round", sans-serif;
  padding: 2%;
  color: $backgroundMenu;
  .title {
    grid-column: 1/3;
    grid-row: 1;
    width: fit-content;
    /*My name*/
    h1 {
      font-size: 4rem;
    }
    /*short description*/
    .subtitle {
      text-align: center;
      font-family: "Inconsolata", monospace;
    }
  }
  /*The container for the buttons*/
  .buttons {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .skillButton {
      @include aboutMeButtons();
    }
    .educationButton {
      @include aboutMeButtons();
    }
    .gustafButton {
      @include aboutMeButtons();
    }
  }
  /*The container for the content*/
  #card {
    margin: 2%;
    padding: 1%;
    border-radius: 3px;
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    .titleAcquiered {
      @include acquierTitle(1, 1);
      &.hidden {
        transform: translate(-300%);
      }
    }
    .titleNotAcquiered {
      @include acquierTitle(2, 1);
      &.hidden {
        transform: translate(300%);
      }
    }
    .acquieredSkills {
      @include skills(1, 2);
      &.hidden {
        transform: translateY(600%);
      }
    }
    .skillsToAcquier {
      @include skills(2, 2);
      &.hidden {
        transform: translateY(600%);
      }
      /*the "etc-icon" is not an icon from font awesome so it's styled separate from the others*/
      .etc {
        text-decoration: none;
        color: $textMenu;
        border-radius: 3px;
        font-size: 3.5vw;
        transition: all 0.2s ease-in-out;
        margin-bottom: 1rem;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    /*the icons from font awesome*/
    .skillIcons {
      font-size: 6.5vw;
      color: $textMenu;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  /*The title that says the name of the education*/
  .educationTitle {
    font-family: "Inconsolata", monospace;
    grid-column: 1/3;
    grid-row: 1;
    font-size: 2.5rem;
    align-self: center;
    user-select: none;
    transition: all 0.3s ease-in-out;
    &.hidden {
      transform: translate(-200%);
    }
  }
  /*The nackademi logo*/
  .nackademin {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: flex-end;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    .logo {
      height: 1.5rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.hidden {
      transform: translate(200%);
    }
  }
  /*The brief explanation of the education*/
  .educationList {
    margin-left: 10%;
    grid-column: 1/3;
    grid-row: 2;
    font-size: 1.5rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
    li {
      margin: 2%;
    }
    &.hidden {
      transform: translateY(200%);
    }
  }
  /*The container for the text about me*/
  .textContainer {
    width: 120%;
    align-self: center;
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /*the hi over the text*/
    .hiAboutMe {
      font-size: 3rem;
      color: $aboutMe;
      margin-bottom: 10px;
      height: fit-content;
      width: fit-content;
      background-color: $backgroundMenu;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
      &.hidden {
        transform: translateX(90vw);
      }
    }
    .aboutMeText {
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;
      &.hidden {
        transform: translateX(-200%);
      }
    }
  }
  /*The wonderfull picture of me and twå borsoi puppies*/
  .puppiePicture {
    justify-self: flex-end;
    align-self: flex-end;
    height: 70%;
    grid-column: 2/4;
    grid-row: 2/4;
    transform: translateY(10%);
    transition: all 0.3s ease-in-out;
    &.hidden {
      transform: translateY(200%);
    }
  }
}
