/*This partial styles the mobile version of the Landing page*/

/*This mixin doesnt make the code more dry I just like the 
concept of mixins. It reminds me of methods and functions in programing*/
/*The hi that reveals itself when button on landingpage is pressed*/
@mixin hi {
  width: fit-content;
  font-family: "Varela Round", sans-serif;
  color: $aboutMe;
  font-size: 1000%;
  @include absolute(50%, 50%);
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  user-select: none;
}
/*This mixin makes the button on landingpage disapear*/
@mixin starButtonDisapear {
  animation-name: buttonDisapear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/*The button on langingpage*/
@mixin startButton {
  height: fit-content;
  width: fit-content;
  @include absolute(50%, 50%);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $textMenu;
  color: $backgroundMenu;
  font-family: "Varela Round", sans-serif;
  font-size: 150%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
/*the text on landingpage*/
.landingText {
  width: fit-content;
  font-family: "Varela Round", sans-serif;
  font-size: 100%;
  color: $textMenu;
  @include absolute(50%, 30%);
  transform: translate(-50%);
  transition: all 0.4s;
  /*a span to make the hi a different color*/
  span {
    color: $aboutMe;
  }
}
.hideLandingText {
  left: 150%;
}
/*the hi*/
.hi {
  @include hi();
}
.hideHi {
  color: transparent;
}
/*The startbutton*/
.startButton {
  @include startButton();
}
/*button disapears*/
.buttonDisapear {
  @include starButtonDisapear();
}
@keyframes buttonDisapear {
  100% {
    transform: translate(-50%, -100vh);
  }
}
